




.suur-kast {
    min-width: 100px;
    min-height: 100px;
    border-radius: 30px;
    border: solid black 1px;
    /*
    */
    margin:10px;
    padding:10px;
}

.inline {
    display: inline-block;
    border-collapse: collapse;
    vertical-align: top;
}

div{
    border-collapse: collapse;
}