


body {
    margin: 0px;
}

.suur-kast {
    min-width: 100px;
    min-height: 100px;
    border-radius: 30px;
    border: solid black 1px;
    /*
    */
    margin:10px;
    padding:10px;
}

.inline {
    display: inline-block;
    border-collapse: collapse;
    vertical-align: top;
}

.värvita-link {
    text-decoration: none;
    color: #000;
}

div{
    border-collapse: collapse;
}

header {
    background-color: #ffffd0;
    display: flex;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}