




.suur-kast {
    min-width: 100px;
    min-height: 100px;
    background-color: #0005;
    /*
    */
    margin:4px;
}

.inline {
    display: inline-block;
    border-collapse: collapse;
    vertical-align: top;
}

div{
    border-collapse: collapse;
}